<mat-card class="card">
    <mat-card-subtitle> {{graduationProcess.degreeNameKey | translate}}</mat-card-subtitle>
    <mat-card-title>{{graduationProcess.facultyShortName}}, {{graduationProcess.degreeCourseNameKey | translate}}
    </mat-card-title>
    <mat-card-content>
        {{graduationProcess.initialSemesterName}} - {{graduationProcess.finalSemesterName}}
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button mat-button (click)="graduationProcessSelection.emit(graduationProcess.gradudationProcessId)">{{ 'select' | translate }}</button>
    </mat-card-actions>
</mat-card>