<app-state [loading]="loading" [error]="false" [empty]="false">

  <form id="subject-form" [formGroup]="this.subjectForm" autocomplete="off">
    <div class="main-details-container">
      <mat-card>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>{{'topic_native_lang_label' | translate}}</mat-label>
            <input matInput placeholder="{{'topic_native_lang_label' | translate}}" type="text" formControlName="topic">
            <mat-error *ngIf="this.subjectForm.controls.topic.hasError('required')">{{'topic_native_lang_req' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'topic_english_lang_label' | translate}}</mat-label>
            <input matInput placeholder="{{'topic_english_lang_label' | translate}}" type="text" formControlName="topicInEnglish">
            <mat-error *ngIf="this.subjectForm.controls.topicInEnglish.hasError('required')">{{'topic_english_lang_req' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'objective_native_lang_label' | translate}}</mat-label>
            <input matInput placeholder="{{'objective_native_lang_label' | translate}}" type="text" formControlName="objective">
            <mat-error *ngIf="this.subjectForm.controls.objective.hasError('required')">{{'objective_native_lang_req' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'objective_english_lang_label' | translate}}</mat-label>
            <input matInput placeholder="{{'objective_english_lang_label' | translate}}" type="text" formControlName="objectiveInEnglish">
            <mat-error *ngIf="this.subjectForm.controls.objectiveInEnglish.hasError('required')">{{'objective_english_lang_req' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'realization_lang_label' | translate}}</mat-label>
            <mat-select formControlName="realizationLanguage">
              <mat-option [value]="'ENGLISH'">
                {{ 'en' | translate}}
              </mat-option>
              <mat-option [value]="'POLISH'">
                {{ 'pl' | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <div class="side-details-container">
        <mat-card class="first-container">
          <mat-card-content>
            <mat-form-field appearance="outline" *ngIf="this.supervisorPresentation">
              <mat-label>{{'supervisors_label' | translate}}</mat-label>
              <input matInput placeholder="{{'supervisors_label' | translate}}" type="text" formControlName="supervisorPresentation">
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="!this.supervisorPresentation">
              <mat-label>{{'supervisors_label' | translate}}</mat-label>
              <mat-select formControlName="supervisor">
                <mat-option *ngFor="let supervisor of this.supervisors" [value]="supervisor">
                  {{ getSupervisorFullName(supervisor) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="this.showRealisersForm">
          <mat-card-content>
            <div class="group-container">
              <mat-label *ngIf="this.showIsGroup">{{'type' | translate}}</mat-label>
              <br *ngIf="this.showIsGroup">
              <mat-checkbox formControlName="isGroup" (change)="groupChange($event)" class="group-text" *ngIf="this.showIsGroup">
                {{'group_type_label' | translate}}
              </mat-checkbox>
              <br *ngIf="this.showIsGroup">
              <span>{{'co-realisers-label' | translate}}</span>

              <mat-form-field appearance="outline">
                <input matInput placeholder="{{'co-realisers-first' | translate}}" type="text" formControlName="firstCoRealiser">
                <mat-error *ngIf="this.subjectForm.controls.firstCoRealiser.hasError('required')">{{'co-realisers-required' | translate}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input matInput placeholder="{{'co-realisers-second' | translate}}" type="text" formControlName="secondCoRealiser">
                <mat-error *ngIf="this.subjectForm.controls.secondCoRealiser.hasError('required')">{{'co-realisers-required' | translate}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input matInput placeholder="{{'co-realisers-third' | translate}}" type="text" formControlName="thirdCoRealiser">
                <mat-error *ngIf="this.subjectForm.controls.thirdCoRealiser.hasError('required')">{{'co-realisers-required' | translate}}</mat-error>
              </mat-form-field>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>

</app-state>
