app-subject-details {
    .details-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .column {
        display: grid;
        gap: 1rem;
        grid-auto-rows: minmax(min-content, max-content);
    }

    .details-field {
        margin-bottom: 2rem;
    }
}