<mat-card>
    <mat-card-content>

        <div class="details-field">
            <p class="mat-caption"> {{'topic_in_polish' | translate}} </p>
            <p class="mat-body"> {{topic.polish}} </p>
        </div>

        <div class="details-field">
            <p class="mat-caption"> {{'topic_in_english' | translate}} </p>
            <p class="mat-body"> {{topic.english}} </p>
        </div>

        <div class="details-field">
            <p class="mat-caption"> {{'objective_in_polish' | translate}} </p>
            <p class="mat-body"> {{objective.polish}} </p>
        </div>

        <div class="details-field">
            <p class="mat-caption"> {{'objective_in_english' | translate}} </p>
            <p class="mat-body"> {{objective.english}} </p>
        </div>

        <div class="details-field">
            <p class="mat-caption"> {{'realization_language' | translate}} </p>
            <p class="mat-body"> {{realizationLanguage | translate }} </p>
        </div>

    </mat-card-content>
</mat-card>