<app-state [loading]="loading" [error]="error">

  <div class="details-container column" *ngIf="this.candidature?.subject">
    <div class="column">
      <app-topic-objective [topic]="this.prepareTopic()" [objective]="this.prepareObjective()"
        [realizationLanguage]="this.candidature.subject.realizationLanguage"></app-topic-objective>
    </div>

    <div class="column">
      <app-status labelKey="candidature_status" [statusKey]="this.getStatus()"></app-status>
      <app-status labelKey="subject_status" [statusKey]="this.getSubjectStatus()"></app-status>
      <app-supervisor [supervisor]="this.candidature.subject.supervisor"></app-supervisor>
      <app-co-realisers [mainRealizer]="this.prepareMainRealizer()" [coRealizers]="this.prepareCoorealizers()">
      </app-co-realisers>
    </div>
  </div>
</app-state>