<ng-container *ngIf="loading">
    <div class="state_container">
        <app-loading-state></app-loading-state>
    </div>
</ng-container>
<ng-container *ngIf="error">
    <div class="state_container">
        <app-error-state (tryAgain)="this.tryAgain.emit()"></app-error-state>
    </div>
</ng-container>
<ng-container *ngIf="empty && !loading && !error">
    <div class="state_container">
        <app-empty-state (refetch)="this.refetch.emit()"></app-empty-state>
    </div>
</ng-container>

<ng-container *ngIf="!loading && !error && !empty">
    <ng-content></ng-content>
</ng-container>