@import "./graduation-process-card/graduation-process-card.component.scss";

app-graduation-processes-grid {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 1rem;
    }
}