<mat-card>
    <mat-card-content>

        <div class="details-field">
            <p class="mat-caption"> {{mainRealizer.labelKey | translate}} </p>
            <p class="mat-body paragraph-with-icon">
                <span>{{mainRealizer.name}}</span>
                <mat-icon>{{mainRealizer.iconName}}</mat-icon>
            </p>
        </div>

        <div *ngIf="coRealizers.length > 0" class="details-field">
            <p class="mat-caption"> {{'co-realisers-label' | translate}} </p>
            <p class="mat-body" *ngFor="let coRealizer of coRealizers">
                <span class="paragraph-with-icon">
                    <span>{{coRealizer.name}}</span>
                    <mat-icon>{{coRealizer.iconName}}</mat-icon>
                </span>
            </p>
        </div>

    </mat-card-content>
</mat-card>