<app-state [loading]="loading" [error]="error">
    <div class="details-container column" *ngIf="this.subject">
        <div class="column">
            <app-topic-objective [topic]="this.prepareTopic()" [objective]="this.prepareObjective()"
                [realizationLanguage]="this.subject.realizationLanguage"></app-topic-objective>
        </div>

        <div class="column">
            <app-status [statusKey]="this.getStatus()"></app-status>
            <ng-container *ngIf="this.subject.initiator">
                <app-co-realisers [mainRealizer]="this.prepareMainRealizer()"
                    [coRealizers]="this.prepareCoorealizers()">
                </app-co-realisers>
            </ng-container>

            <ng-container *ngIf="this.subject.initiator === null">
                <app-realizers-number [realizersNumber]="this.subject.realiseresNumber"></app-realizers-number>
            </ng-container>
        </div>
    </div>
</app-state>