<div class="details-container column">
    <div class="column">
        <mat-card>
            <mat-card-content>

                <div class="details-field">
                    <p class="mat-caption"> {{'topic_in_polish' | translate}} </p>
                    <p class="mat-body"> {{subject?.topic}} </p>
                </div>

                <div class="details-field">
                    <p class="mat-caption"> {{'topic_in_english' | translate}} </p>
                    <p class="mat-body"> {{subject?.topicInEnglish}} </p>
                </div>

                <div class="details-field">
                    <p class="mat-caption"> {{'objective_in_polish' | translate}} </p>
                    <p class="mat-body"> {{subject?.objective}} </p>
                </div>

                <div class="details-field">
                    <p class="mat-caption"> {{'objective_in_english' | translate}} </p>
                    <p class="mat-body"> {{subject?.objectiveInEnglish}} </p>
                </div>

                <div class="details-field">
                    <p class="mat-caption"> {{'realization_language' | translate}} </p>
                    <p class="mat-body"> {{subject?.realizationLanguage || "" | translate }} </p>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="column">
        <mat-card>
            <mat-card-content>

                <div class="details-field">
                    <p class="mat-caption"> {{'status' | translate}} </p>
                    <p class="mat-body"> {{((subject?.status) || '-') | translate}} </p>
                </div>

            </mat-card-content>

        </mat-card>
        <mat-card>
            <mat-card-content>

                <div class="details-field">
                    <p class="mat-caption"> {{'supervisor' | translate}} </p>
                    <p class="mat-body"> {{this.getSupervisorFullName(subject?.supervisor)}} </p>
                </div>

            </mat-card-content>

        </mat-card>

        <mat-card>
            <mat-card-content>

                <div class="details-field">
                    <p class="mat-caption"> {{this.getMainRealizerLabel(subject) | translate}} </p>
                    <p class="mat-body paragraph-with-icon">
                        <span>{{this.getMainRealiserIndex(subject)}}</span>
                        <mat-icon>done</mat-icon>
                    </p>
                </div>

                <div class="details-field">
                    <p class="mat-caption"> {{'co-realisers-label' | translate}} </p>
                    <p class="mat-body" *ngFor="let index of this.getCoRealisersIndexes(subject)">
                        <span class="paragraph-with-icon">
                            <span>{{index}}</span>
                            <mat-icon>{{this.getCoRealisersIndexesIcon(index, subject)}}</mat-icon>
                        </span>
                    </p>
                </div>

            </mat-card-content>
        </mat-card>


    </div>