<mat-toolbar color="primary">
    <ng-container *ngIf="config">
        <span class="icon-and-title-container">
            <mat-icon>{{config.iconName}}</mat-icon>
            <span class="title-container">{{ config.titleKey | translate }}</span>
        </span>
        <span class="spacer"></span>
        <span class="buttons-container">
            <button *ngFor="let buttonConfig of config.buttonsConfig" [disabled]="buttonConfig.disabled"
                (click)="buttonConfig.click()" mat-raised-button>
                {{buttonConfig.textKey | translate}}
            </button>
        </span>
    </ng-container>
</mat-toolbar>