<mat-toolbar color="primary">
    <span>
        <mat-icon>{{iconName}}</mat-icon>
    </span>
    <span>{{ titleKey | translate }}</span>
    <span class="spacer"></span>
    <span class="buttons-container">
        <button *ngFor="let buttonConfig of buttonsConfig" [disabled]="buttonConfig.disabled"
            (click)="buttonConfig.click()" mat-raised-button>
            {{buttonConfig.textKey | translate}}
        </button>
    </span>
</mat-toolbar>
<button mat-raised-button color="primary">Primary</button>