app-toolbar {

  mat-toolbar {
    min-height: 4rem;
    height: auto !important;
    padding: 1rem 1rem !important;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .icon-and-title-container {
    display: flex;
    gap: 1rem
  } 
  
  .title-container {
    white-space: pre-wrap !important;
  }

  .buttons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}